.manage-clinic-container {
    .manage-clinic-title {
        text-align: center;
        margin: 10px 0 20px 0;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
    }

    .add-new-clinic {

        .col-12 {
            .btn.btn-primary {
                margin: 15px 0;
            }
        }
    }
}